

<%- include adminheader %>

<div style="padding:30px">
</div>

<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Administrator Console Panel</h1>
    </div>

    <!-- Nav tabs -->
	<ul class="nav nav-tabs">
	 	<li class="active"><a href="#users" data-toggle="tab">Users</a></li>
	  	<li><a href="#posts" data-toggle="tab">Posts</a></li>
	  	<li><a href="#deals" data-toggle="tab">Deals</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
	  	<div class="tab-pane active" id="users">
			<br>
			<table class="table table-bordered table-hover">
            	<tbody style="text-align:left;">
            		<tr>
                		<th style="width: 250px;">No. of Users with Skills: </th>
                		<td></td>
            		</tr>
            		<tr>
                		<th style="width: 250px;">No. of Users with Items: </th>
                		<td></td>
            		</tr>
            	</tbody>
            </table>
	 	</div>
	  	<div class="tab-pane active" id="posts">
			<br>
			<table class="table table-bordered table-hover">
            	<tbody style="text-align:left;">
            		<tr>
                		<th style="width: 250px;">No. of Posts: </th>
                		<td></td>
            		</tr>
            	</tbody>
            </table>
		
		</div>
	  	<div class="tab-pane active" id="deals">
			<br>
			<table class="table table-bordered table-hover">
            	<tbody style="text-align:left;">
            		<tr>
                		<th style="width: 250px;">No. of Ongoing Deals: </th>
                		<td></td>
            		</tr>
            		<tr>
                		<th style="width: 250px;">No. of Completed Deals: </th>
                		<td></td>
            		</tr>
            	</tbody>
            </table>
		</div>
	</div>
    
    
</div>
